/* Base reset */
* {
    margin: 0;
    padding: 0;
  }
  
/* box-sizing and font sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;

    /* Set font size for easy rem calculations
        * default document font size = 16px, 1rem = 16px, 100% = 16px
        * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
    */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --dark-cyan-2: hsl(158, 37%, 20%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 60%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem; /* 15px */
    color: var(--darkblue);
    background: var(--cream);
    overflow-x: hidden;
}

.card {
    margin-left: calc(50vw - 175px);
    margin-top: calc(50vh - 301.74px);
    margin-bottom: 10px;
    background: var(--white);
    width: 350px;
    border-radius: 10px;
    padding-bottom: 25px;
}

.card>.perfume-mobile>img, .card>.perfume-desktop>img {
    border-top-left-radius: 10px;
    object-fit: cover;
}

.card>.perfume-mobile>img {
    border-top-right-radius: 10px;
}

.card>.perfume-desktop>img {
    border-bottom-left-radius: 10px;
}

.perfume-desktop {
    display: none;
}

.text-container {
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-container>h2 {
    font-size: 1.2rem;
    color: var(--dark-grayish-blue);
    font-weight: 500;
    letter-spacing: 0.5em;
}

.text-container>h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1;
}

.text-container>p {
    color: var(--dark-grayish-blue);
    font-size: 1.4rem;
    line-height: 1.6;
}

.text-container>button {
    background: var(--dark-cyan);
    color: var(--white);
    font-size: 1.2rem;
    border: none;
    padding: 1em;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

.text-container>button:hover {
    background: var(--dark-cyan-2);
    cursor: pointer;
}

.price {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    font-family: 'Fraunces', serif; 
    align-items: center;
}
.price>.new-price {
    color: var(--dark-cyan);
    font-weight: 700;
}
.price>.old-price {
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Desktop Design */
@media only screen and (min-width: 992px) {
    .perfume-mobile {
        display: none;
    }
    .perfume-desktop {
        display: block;
    }
    .card {
        display: flex;
        margin: 0;
        width: 600px;
        height: 450px;
        margin-left: calc(50% - 300px);
        margin-bottom: 15px;
        margin-top: calc(50vh - 225px);
    }
}